!!!5
/[if IE 7] <html class="ie ie7 lt-ie9 lt-ie8 lt-ie10">
/[if IE 8] <html class="ie ie8 lt-ie9 lt-ie10">
/[if IE 9] <html class="ie ie9 lt-ie10">
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title
      data.page.title

    %meta{:content => "width=device-width", :name => "viewport"}

    / %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:900|Open+Sans:400,300,700'}
    %link{rel: 'stylesheet', type: 'text/css', href: './css/style.css'}

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"}
    %script
      window.jQuery || document.write('<script src="./js/vendors/jquery-1.8.3.min.js"><\/script>')

    /[if lt IE 9]
      %script{src: 'http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'}
      %script{src: 'js/ie.js'}

    %script{src: 'js/all.js'}
    %script{src: 'js/demo.js'}

  %body

    %header

    = yield

    %footer
