/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
  content: " " /* 1 */
  display: table /* 2 */

.clearfix:after
  clear: both

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix
  *zoom: 1

.container
  +container

.omega
  +omega

.fl
  float: left

.fr
  float: right

.hide
  display: none

.show
  display: block

.col12
  +span-columns(12)
  +omega

.col11
  +span-columns(11)

.col10
  +span-columns(10)

.col9
  +span-columns(9)

.col8
  +span-columns(8)

.col7
  +span-columns(7)

.col6
  +span-columns(6)

.col5
  +span-columns(5)

.col4
  +span-columns(4)

.col3
  +span-columns(3)

.col2
  +span-columns(2)

.col1
  +span-columns(1)

.omega
  +omega
