=image-bg($image)
  height: image-height($image)
  width: image-width($image)
  background: image-url($image)


=clearfix
  &:after
    display: block
    content: '.'
    clear: both
    visibility: hidden
    height: 0


=input-placeholder($color)
  &.placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-webkit-input-placeholder
    color: $color


// from Bourbon

=triangle ($size, $color, $direction)

  height: 0
  width: 0

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left)
    border-color: transparent
    border-style: solid
    border-width: $size / 2
    @if $direction == up
      border-bottom-color: $color
    @else if $direction == right
      border-left-color:   $color
    @else if $direction == down
      border-top-color:    $color
    @else if $direction == left
      border-right-color:  $color

  @else if ($direction == up-right) or ($direction == up-left)
    border-top: $size solid $color
    @if $direction == up-right
      border-left:  $size solid transparent
    @else if $direction == up-left
      border-right: $size solid transparent

  @else if ($direction == down-right) or ($direction == down-left)
    border-bottom: $size solid $color
    @if $direction == down-right
      border-left:  $size solid transparent
    @else if $direction == down-left
      border-right: $size solid transparent


=inline-block
  display: inline-block
  vertical-align: baseline
  zoom: 1
  *display: inline
  *vertical-align: auto


// Add percentage of white to a color
@function tint($color, $percent)
  @return mix(white, $color, $percent)


// Add percentage of black to a color
@function shade($color, $percent)
  @return mix(black, $color, $percent)


// Responsive Mixin
=respond-to($media)
  @if $media == tablets
    @media only screen and (max-width: 768px)
      @content

  @else if $media == handhelds
    @media only screen and (max-width: 480px)
      @content

  @else if $media == handheld-landscape
    @media only screen and (max-width: 480px) and (orientation: landscape)
      @content

